@keyframes colores {

    /* from{background: #9EB3C2;}
    to{
        background: #21295C;
    } */
    0%{background: #9EB3C2;}
    25%{background: #1c7293; width:300px;}
    50%{background: #065a82; width:400px}
    75%{background: #1b3b6f; width:300px}
    100%{background: #21295c; width:200px}

}

@keyframes movimiento{
    /* 0%{transform: translate(0);}
    50%{transform: translate(500px);}
    100%{transform: translate(0);} */
    from{ transform:translate(0px);}
    to{transform:translate(500px);}
}

.caja {
    width: 200px;
    height: 200px;
    background: #9EB3C2;
    /* animation:alternate;
    animation-name: movimiento;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    animation:movimiento 4s ease alternate infinite;
}

